*{
	margin:0px;
	padding:0px;
}
body{
   width:98vw;
   height:98vh;
   margin-right:10px;
   margin-left:10px;
}
#nav-bar{
	display:flex;
	height:25vh;
	width:100%;
	background-color:rgb(82,116,160);
   justify-content:center;
  justify-content:space-around;
  align-items: center;
  color:white;
   }
.top-login{
   position:relative;
   top:4vh;
   height:20px;
   border:none;
   background-color:blue;


   }

 h1{
   color:white;
   font-weight:bold;
   font-size:45px;
   position: relative;
   top:3vh;
   font-family: Arial ,"Helvetica Neue",Helvetica,sans-serif;
}
i{
   color:grey;
   margin-right:10px;
   margin-left:5px;
}
#log-in-form{
   display:flex;
   font-size:14px;

}
#btn{
   background-color: rgb(99,139,190);
   color:white;
   font-weight:bold;
   border:0.5px solid black;
   width:50px;
   align-self: center;
}
.int{
   height:25px;
   width:160px;
   margin:5px 10px 10px 0px;
}
#container-below-header{
   display:flex;
    background-color:#E6E6FA;
     justify-content: center;
     height:80vh;

}
#inputs-in-right-div{
   display:block;
   margin-top:10px;
}

#main-container-holder{
	display:flex;
   width:98vw;
   height:70vh;
   justify-content: space-around;
   align-items:center;

 
}
#left-side-div{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:40vh;
    padding:10px;
}
h2{
   margin-top:30px;
   font-weight:bold;
   font-size:40px;
}

select{
   height:20px;
   width:50px;
   margin-top:10px;
   margin-bottom:10px;
}
.last-inputs{
   margin-bottom:10px;
   margin-left:10px;
}
.signUp-button{
   background-color:green;
   border-radius:8px;
   height:30px;
   width:170px;
   color:white;
   font-weight:bold;
   font-size:16px;
   padding-left:0px;
   text-align:center;
   margin-bottom:10px;
   border:none;

}
input,button,select{
   cursor: pointer;
}


#footer{
   display:flex;
   justify-content: center;
   justify-content: space-around;
   align-items:center;
   width:100vw;
   height:10vh;
   background-color:white;
}

.footer-links{
   color:grey;
   text-decoration:none;
   margin:auto;
}